@model UserTaskListViewModel

<div class="d-flex justify-content-evenly align-items-center mt-4 mb-4 position-relative">
    @if (Model != null
    && Model.HasPreviousPage)
    {
        <a asp-action="Dashboard"
           asp-route-pageNumber="@(Model.PageNumber - 1)"
           class="btn btn-primary">Previous</a>
    }
    else
    {
        <div style="width: 75px;"></div>
    }

    @if(Model != null
        && Model.TotalPages > 0)
    {
        <span class="text-center position-absolute start-50 translate-middle-x" id="pageNumbers">
            Page @Model.PageNumber of @Model.TotalPages
        </span>
    }

    @if (Model != null
        && Model.HasNextPage)
    {
        <a asp-action="Dashboard"
           asp-route-pageNumber="@(Model.PageNumber + 1)"
           class="btn btn-primary">Next</a>
    }
    else
    {
        <div style="width: 75px;"></div>
    }

</div>