@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Your username and password will be secure and encrypted</li>
    <li>We will not disclose any of your information to a third party</li>
    <li>Your tasks are saved in a database that we will not pry upon unless an error or bug happens</li>
</ul>
